.btn{
    background-color: #222;
    color: white;
    padding: 0.6em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: rgb(231, 184, 96);
}