.footer{
    margin-top: 20px;
    background-color: #222;
    color: #FFF;
    padding: 1em;
    text-align: center;
}

.foo_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.foo_list li{
    margin: 1em;
}

.foo_list li:hover{
    color: rgb(231, 184, 96);
}

.foo_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 1.5em;
}

.copy_right span{
    font-weight: bold;
    color: rgb(231, 184, 96);
}